[phases.setup]
nixpkgsArchive = "3e2cf88148e732abc1d259286123e06a9d8c964a"
nixPkgs = ["nodejs_20", "npm-10_x"]

[variables]
NPM_CONFIG_CACHE = "/root/.npm"

[phases.install]
cmds = ["npm ci"]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "(npm run db:push || echo 'Schema already exists, continuing...') && node dist/server/index.js"
